body
{
    margin: 0;
    padding: 0;
    font-family: loto;
    background-color: rgb(173, 172, 172);
}

/*------------------------Header CSS------------------------*/
#header
{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(backg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    z-index: 1;
}

.user-box
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
        
}

.user-box img
{
    border-radius: 50%;
    width: 300px;
    border: 3px solid #6caed5;    
}


.user-box h1
{
    color: #fff;
    font-weight: bold;
    margin: 10px;
}

.user-box p
{
    color: #fff;
    font-weight: bold;
    margin: 10px;
    font-family: 'Monaco', 'Courier New';
    font-size: 20px;
}

.scroll-btn
{
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;
}

.scroll-bar span
{
    border: 2px solid #fff;
    font-size: 10px;
    border-radius: 20px;
}

.scroll-bar
{
    animation:mover 1s infinite alternate
}
@keyframes mover 
{
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}
}

.profile-image
{
    height: 450px;
}
.nav-bar
{
    top: 0;
    position: sticky;
    z-index: 2;
}
.nav-bar
{
    background-color: #000;
}
.navbar
{
    background-color:#000;
}
.logo img
{
    height:40px;
}

.container-fluid h6
{
    color:#fff;
    font-size: 20px;
    padding-top: 10px;
}
.nav-bar fa-bars
{
    font-size: 50px;
}
/*fix the color of the bar to work when at mobile view*/
.navbar-toggler
{
    outline: none !important;   /*remove the outline around the bar*/
    color: #6caed5;
}

.nvabar-nav
{
    float: right;
    text-align: right;
    
}


.nav-link 
{
    color: white !important;
}

.collapse{
    flex:1;
    text-align: right;
    
}

.collapse ul li{
    list-style: none;
    display: inline-block;
    padding-top:5px;
    padding-right: 10px;
    position: relative;
    
}

.collapse ul li a{
    color: #fff;
    text-decoration: none;
    font-size:18px;

}

.collapse ul li::after{
    content: '';
    width: 0;
    height: 2px;
    background: red;
    display: block;
    margin:auto;
    transition: 0.4s;
}
.collapse ul li:hover::after{
    width:100%;

}
/*.....................................ABOUT..................*/
#about
{
    background-color: #6caed5;
    height: 1020px;
    margin-top:-20px;
    
}

#cmd 
{
    border-radius: 5px;
    width:750px;
    margin: 0 auto;
    margin-top: -25px;
    padding-top:20px;
    font-size:30px;
    background: #ccc;
    height: 700px;
    font-family: 'Monaco', 'Courier New';
    text-align: left;
    font-size:13px;
    color: #fafafa;
}
#term 
{
    width:750px;
    padding: 40px;
    height: 700px;
    margin:0 auto;
    background: #383737;
}
    
span.instance 
{
    color:#ccc;
}
    
#about p 
{
    text-align: center;
    padding-top: 80px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.3em;
    font-weight: 700;
    color: #fafafa;
    font-size: 11px;
    text-transform: uppercase;
    
}
/* remove the underline from email link*/
a
{
    text-decoration: none;
}


/*---------------social-media-------------*/
.social-media
{
    top:50%;
    transform: translateY(-350%);
    position:sticky;
    z-index: 1;
    width: 80px;
}

.social-media ul
{
    padding: initial;
}

.social-media ul li
{
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color: #fff;
    background:#000;
}

.social-media ul li:hover
{
    padding-left:30px;
    width: 80px;
    transition:1s;
}



/*---------------RESUME------------------*/
.resume
{
    margin-top: -200px;
    padding-top: 20px;
    padding-bottom: 30px;
    /*background-image: url(images/w2.jpg);*/
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
       
}

.inside
{
    margin: auto;
    width: 50%;
    
}
.resume h4
{

    margin-bottom: 50px;
    font-size:15px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.3em;
     
}
b
{
    padding-bottom: 40px;
}
.resume h5
{

    font-size:14px;
    text-align: left;
    padding-bottom: 2px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 0.1em;
     
}

img.emblem
{
    width: 65px;
    height: 65px;
    border-radius: 70%;
    float:left;
    display:block;
    margin-left:-95px;
    background-color: #fff;
    opacity:0.9;
    z-index:0;
    -webkit-transition: all .4s ease-in-out;
}

.right{
    float: right;
}

/*--------------------------list---------------------------------*/
.list_boxe ul
{
    color: #fff;
}
.list_box
{
    width: 100%;
    border-bottom: 20px solid #383737;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;   
    
}

.list_box h6
{
    color:#fff;
    background: #383737;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Open Sans', sans-serif;
}
.list_box ul
{
    position: relative;
    background: rgb(147, 150, 149);
    font-family: 'Open Sans', sans-serif;
}
.list_box ul:hover li
{
    opacity: 0.7;
}
.list_box ul li
{
    list-style: none;
    padding: 10px;
    background: rgb(147, 150, 149);
    box-shadow: 0 5px 25px rgba(0,0,0,.1);
    transition: transtomr 0.5s;
}
.list_box ul li:hover
{
    transform: scale(1.1);
    z-index:100;
    background:#6caed5 ;
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    color:#fff;
}
.list_box ul li span
{
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background: #6caed5;
    color:#fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(-20px);
    
}

.list_box ul li:hover span
{
    background: #fff;
    color: #6caed5;
}
/*---------------------------------button------------------------*/

.button
{
   text-align: center;
   margin-top: 25px;
   
}

.btn
{
    display: inline-block;
    border: 1px solid #117688;
    background: none;
    padding: 10px;
    font-size: 12px;
    cursor:none;
    margin:6px;
    width:auto;
    height:5%;
    transition: 0.8s;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    line-height: 1.33333em;
    border-radius: 8px;
    letter-spacing: 0.1em;

}
.btn:hover
{
   
    cursor:default;
}
.btn::before
{
    content: "";
    position: absolute;
    left:0;
    width:100%;
    height:0%;
    background: #6caed5;
    z-index: -1;
    transition:0.8s;
}
.btn::before
{
    bottom: 0;
    border-radius: 50% 50% 0 0 ;
}
.btn:hover::before
{
    height:180%;
}


/*-------------------Contact Me---------------*/
.cantact
{
    height: 80vh;
    padding-top: 50px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(contact.jpg);
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    color:#fff;
    text-align: left;
    
    
}
.cantact h1
{
    font-family: loto;
    color:rgb(22, 22, 22);
    padding-bottom: 30px;
    padding-top: 5px;
    text-align: center;
    
}

.container
{
    padding: 20px ;
    margin:auto;
    font-size: 30px;
    width:450px;
    
    
}

.fas
{
    padding-right: 20px;
    padding-top:10px;
    color:#fff;
    
}
.container .fa
{
    padding-right: 20px;
    padding-top:10px;
    color:#fff;
}
.footer
{
    background: #000;
    height: 50px;
    margin-top: auto;
    color:#fff;
    padding-top: 10px;
    clear: both;
    position: relative;
}


.fa-heart-o
{
    color: red;
}

